# my configuration, why did you want to take a look at it you paedo
config.json
# database. The bot uses rethinkdb as database.
db
# my keybase keys, the public key can be found at my keybase.
key.asc
public.asc