<%#
Copyright (C) 2020 tt.bot dev team
 
This file is part of tt.bot.
 
tt.bot is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
 
tt.bot is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.
 
You should have received a copy of the GNU Affero General Public License
along with tt.bot.  If not, see <http://www.gnu.org/licenses/>.
%>

<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <b>tt.bot</b> v<%=ttbotVersion%> made with &lt;3 by the <b>tt.bot development team</b> using <a
                href="https://nodejs.org">Node.js</a> and <a href="https://abal.moe/Eris">Eris</a>. Website made using
            <a href="https://bulma.io">Bulma</a> and <a href="https://fontawesome.com">Font Awesome</a>. Source code
            available
            under the <a href="https://github.com/tt-bot-dev/tt.bot/blob/v4-wip/LICENSE">GNU AGPLv3 or later</a>. Translations available under the <a
                href="https://github.com/tt-bot-dev/languages/blob/v4-wip/LICENSE">MIT License</a>.
        </p>
        <p>
            <a href="https://github.com/tt-bot-dev/tt.bot"><span class="icon"><i class="fab fa-github"></i></span></a>
        </p>
    </div>
</footer>