<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <b>tt.bot</b> v<%=ttbotVersion%> made with &lt;3 by the <b>tt.bot development team</b> using <a
                href="https://nodejs.org">Node.js</a> and <a href="https://abal.moe/Eris">Eris</a>. Website made using <a
                href="https://bulma.io">Bulma</a> and <a href="https://fontawesome.com">Font Awesome</a>. Source code available
            under the <a href="https://github.com/tt-bot-dev/tt.bot/blob/master/LICENSE">MIT License</a>.
        </p>
        <p>
            <a href="https://github.com/tt-bot-dev/tt.bot"><span class="icon"><i class="fab fa-github"></i></span></a>
        </p>
    </div>
</footer>