
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <a href="/"><span class="mdl-layout-title"><%=bot.user.username%></span></a>
            <span style="margin:auto"></span>
      <%if (user) {%>
        <img height="32" width="32" style="border-radius:32px" src="<%-user.avatar%>" alt="rip">
        <span style="margin-left: 8px"></span>
        <span><%=user.username%>#<%=user.discriminator%></span>
        <span style="margin-left: 8px"></span>
        <a href="/logout"><i class="material-icons">lock_outline</i></a>
      <%} else {%>
        <a href="/login"><i class="material-icons">lock_open</i></a>
      <%}%>
    </div>
    <!-- Tabs -->
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
      <%if (user && isO({author:user})) {%>
      <a href="/guilds" class="mdl-layout__tab">Server manager</a>
      <%}%>
    </div>
  </header>
