<head>
<title><%=bot.user.username%> <%= pageTitle ? `- ${pageTitle}` : "" %></title>
<meta charset="utf-8">
  <meta name="description" content="tt.bot web panel. Might not work for some. If you wish to configure your server and it doesn't. Please use tt.config.">
  <meta property="og:title" content="tt.bot web panel">
  <meta property="og:type" content="website">
  <meta property="og:image" content="<%=host%>/icon.png">
  <meta property="og:url" content="<%=host%>">
  <meta property="og:description" content="tt.bot web panel. Might not work for some. If you wish to configure your server and it doesn't. Please use tt.config.">
  <meta property="og:site_name" content="tt.bot">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="apple-mobile-web-app-title" content="tt.bot web panel.">
  <link rel="apple-touch-icon-precomposed" href="/static/icon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <link rel="apple-touch-icon" href="/static/icon.png" />
  <link rel="icon" sizes="192x192" href="/static/icon.png">
  <link rel="shortcut icon" href="/static/icon.png">
<meta name="theme-color" content="#000000">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/css/tttie.css">
</head>