  <div class="tttie-double-navbar-holder"><div class="tttie-navbar">
  <ul class="tttie-navbar-list">
  <li class="tttie-navbar-item has-icon">
  <a class="tttie-navbar-link" href="/"><img class="tttie-navbar-tttie-icon" src="/static/tttie-icon.png" alt="<%=bot.user.username%>, an instance of tt.bot"></a>
  <% if(user) {%><li class="tttie-navbar-item"><a class="tttie-navbar-link" href="/dashboard">Dashboard</a></li><%}%>
  </ul>
  </div>
  <div class="tttie-navbar">
  <ul class="tttie-navbar-list">
  
  <%if (user){ %>
    <li class="tttie-navbar-item has-icon"><img class="tttie-navbar-tttie-icon rounded" src="<%=user.avatar%>" alt="<%=bot.getTag(user)%>"></li>
    
        <span style="margin-left: 8px"></span>
        <li class="tttie-navbar-item"><%=bot.getTag(user)%></li>
        <span style="margin-left: 8px"></span>
        <li class="tttie-navbar-item"><a class="tttie-navbar-link" href="/logout">Logout</a></li>
  <%} else {%>
    <li class="tttie-navbar-item has-icon"><img class="tttie-navbar-tttie-icon rounded" src="/static/unknown.png" alt="Unknown person"></li>
    <li class="tttie-navbar-item"><a class="tttie-navbar-link" href="/login">Log in</a></li>
  <%}%>
  </ul>
  </div>
  </div>