<!DOCTYPE html>
<html>
<%- include("./partials/head") %>
<body>
<div class="tttie-container">
<%- include("./partials/header") %>
<div class="tttie-body">
<div class="tttie-center text">
<div>
<h1>404</h1>
<p>I'm sorry, but there's no path like this.</p>

<div class="tttie-center">
<a class="tttie-linkbutton" href="/"><div class="tttie-button">Go home</div></a>
</div>
</div>
</div>
</div>
</div>
</body>
</html>