<!DOCTYPE html>
<html>
<%- include("./partials/head") %>

<body>
    <section class="hero is-danger">
        <div class="hero-head"><%- include("./partials/header", { isLanding: true }) %></div>
        <div class="hero-body">
            <div class="container">
                <h1 class="title is-1 is-size-3-mobile">500</h1>
                <h3 class="subtitle is-3 is-size-5-mobile">Something bad has occured :(</em>
                <div class="hero-buttons">
                    <a href="/"
                        class="button is-large is-danger">
                        <span class="icon"><i class="fa fa-home" aria-hidden="true"></i></span>
                        <span>Go home</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <b>Here's what happened:</b><br>
            <pre><code><%=error%></code></pre>
        </div>
    </section>
    <%- include("partials/footer") %>
</body>

</html>