<!doctype html>
<html>
<%-include("partials/head")%>
<%-include("partials/links")%>
<style>
.404 {
    font-size: 32px;
}
</style>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
<%-include("partials/header")%>
<main class="mdl-layout__content">
    <section class="mdl-layout__tab-panel is-active" id="scroll-tab-1">
      <div class="page-content">
        <center>
        <h1 class="404">500</h1>
        <h2>This doesn't seem well.....</h2>
        <h2><code><%=error%></code></h2>
        <a href="/">Go back to the main page</a>
        </center>
      </div>
    </section>
</main>
</div>
</body>
</html>
