<% if (guild) {%>
<!doctype html>
<html>
<%-include("partials/head")%>
<%-include("partials/links")%>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
<%-include("partials/header")%>
<main class="mdl-layout__content">
    <section class="mdl-layout__tab-panel is-active" id="scroll-tab-1">
      <div class="page-content">
        <div class="center">
            <h1>Are you sure to delete <%=guild.name%>?</h1>
         <a href="?yes=true">   <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
  Yes
</button>
</a><span style="margin:4px"></span>         <a href="/">   <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
  Go back
</button>
</a>
        </div>
      </div>
    </section>
</main>
</div>
</body>
</html>
<%}%>