<!DOCTYPE html>
<html>
<%- include("./partials/head") %>

<body>
    <div class="tttie-container">
        <%- include("./partials/header") %>
        <div class="tttie-body">
            <div class="tttie-center">
                <div>
                    <h1>Welcome to <%=bot.user.username%>'s dashboard!</h1>
                    <p><%=bot.user.username%> is an instance of tt.bot, an open-source moderation/utility Discord bot.
                    </p>
                    <div class="tttie-center">
                        <a class="tttie-linkbutton" href="https://github.com/tt-bot-dev/tt.bot">
                            <div class="tttie-button">tt.bot's GitHub repository</div>
                        </a>
                        <a class="tttie-linkbutton" href="https://github.com/tt-bot-dev/sosamba">
                            <div class="tttie-button">Sosamba's GitHub repository (the heart of tt.bot)</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>