<!DOCTYPE html>
<html>
<%- include("./partials/head") %>

<body>
    <section class="hero is-warning">
        <div class="hero-head"><%- include("./partials/header", { isLanding: true }) %></div>
        <div class="hero-body">
            <div class="container">
                <h1 class="title is-1 is-size-3-mobile">Welcome!</h1>
                <h3 class="subtitle is-3 is-size-5-mobile">Before we start, here's some paperwork:</em>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="content">

                Here is what do we collect about you:<br>
                <ul>
                    <li>Your authentication data (OAuth2 tokens)</li>
                    <%if (isHTTP) { %>
                    <li>You are accessing this web page insecurely. This means that anyone can intercept your
                        traffic.</li>
                    <%}%>
                    <li>Some more data that the instance owner(s) might collect. Please contact them for more info about it.</li>
                </ul>

                Do you agree with this?
    
            </div>
            <div class="buttons">
                <button class="button is-primary">I agree</button>
                <button class="button is-danger" id="no">I disagree</button>
            </div>
        </div>
    </section>
    <%- include("partials/footer") %>
    <script src="/static/js/data-consent.js"></script>
</body>

</html>